@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --resaltar: #c32323;
  --fondo: #f5f5f5;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar {
  background-color: #00000000;
}
body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #6b6a6a;
  border-radius: 20px;
  border: 0;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
