.homeADM {
  // background: url("../../../img/logoPNG.png") no-repeat center;
  // background-position-y: 120px;
  width: 100%;

  .titulo {
    text-align: center;
    width: max-content;
    margin: auto;
    border-radius: 5px;
    margin-top: 30px;
    color: #000;
    padding: 10px 20px;
    font-size: 25px;
    text-shadow: 0px 0px 30px #0000002b;

    span {
      font-weight: 700;
      color: var(--resaltar);
    }
  }
  .info {
    // background-color: #00000086;
    // box-shadow: 0px 0px 30px #000000cf;
    border-radius: 10px;
    width: max-content;
    padding: 3% 10%;
    margin: 50px auto;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0px 0px 30px #000;
    }
    p {
      color: #000;
      margin-bottom: 60px;
      font-size: 30px;
      font-weight: 500;
    }
    .listas {
      display: flex;
      justify-content: center;
      gap: 20%;
      margin: 20px 0px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: #000;
        li {
          font-size: 17px;
          transition: all 0.5s;
          cursor: default;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
