.navBarAdmin {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  margin: 40px 0px 0px 40px;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: max-content;
  display: flex;

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;

    li {
      text-align: center;
      list-style: none;
      width: 70%;
      transition: all 0.5s;
      border-radius: 20px;
      padding: 10px 15px;
      a {
        font-size: 17px;
        cursor: pointer;
        color: #5a5a5a;
        transition: all 0.3s;
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
