.productAdminList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 10px;
}
.listAdmin {
  width: 100%;
  h1 {
    margin: 25px 0px;
    text-align: center;
    .res {
      color: var(--resaltar);
    }
  }
}

.buscarProducto {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 10px 0px 30px 0px;

  input {
    outline: none;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #0000009d;
    padding: 3px 20px;
    border-right: 0;
    width: 350px;
  }
  label {
    position: absolute;
    bottom: -20px;
    color: #0000009d;
  }

  button {
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #0000009d;
    border-left: 0;
    padding: 5px 10px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.detalle {
  width: 200px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  border: 0;
  padding: 0;
  height: max-content;

  img {
    width: 100%;
    height: 200px;
  }

  .titulo {
    text-align: center;
    margin: 5px;
    font-weight: 400;
    font-size: 17px;
  }

  .marca {
    text-align: center;
    color: #0000009d;
  }

  .description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
  }
  .act {
    color: #25b025;
    font-weight: 500;
  }
  .des {
    color: var(--resaltar);
    font-weight: 500;
  }

  .fecha {
    font-size: 13px;
    .data {
      color: #0000009d;
    }
  }

  ul {
    li {
      list-style: none;
      padding-left: 10px;
      font-weight: 600;
    }
  }

  .editar {
    text-align: center;

    button {
      background-color: #259a25;
      color: #fff;
      border-radius: 20px;
      padding: 10px 30px;
      margin: 10px;
      border: 0;
      font-size: 17px;
      cursor: pointer;

      &:hover {
        background-color: #1fbb1f;
      }
    }
  }
  .button {
    padding: 5px 0px;
    text-align: center;

    .productAct {
      background-color: #1fbb1f;
      color: #fff;
      border: 0;
      border-radius: 20px;
      padding: 5px 20px;
      cursor: pointer;

      &:hover {
        background-color: #25b025;
      }
    }

    .productDes {
      background-color: var(--resaltar);
      color: #fff;
      border: 0;
      border-radius: 20px;
      padding: 5px 20px;
      cursor: pointer;
    }
  }
}
