.prductos {
  background-color: #f3f2f2;
  position: relative;
  padding: 0px 0px 40px;

  div {
    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 2px;
      background: black;
      border: none;
      outline: none;
      margin: 10px 0px;

      &::-webkit-slider-runnable-track {
        height: 5px;
        border-radius: 20px;
        background: #e43939;
      }

      &::-webkit-slider-thumb {
        transition: all 0.3s;
        -webkit-appearance: none !important;
        width: 20px;
        height: 20px;
        background: #fff;
        box-shadow: 0px 0px 13px #0000003e;
        border-radius: 50%;
        margin-top: -6px;
        cursor: pointer;
      }
      &::-webkit-slider-thumb:hover {
        background: #fbf9f9;
        box-shadow: 0px 0px 13px #00000083;
      }
    }
  }

  .divFiltros {
    transition: all 1s;
    width: 15%;
    margin-left: -15%;
  }
  .view {
    box-shadow: 0px 0px 50px #000;
    margin-left: 0;
  }

  .divProductos {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;

    .viewF {
      transition: all 1s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000000;
      z-index: 200;
      display: none;
    }

    .t {
      display: block;
      background-color: #0000006b;
    }
  }
}
