.marcasOP{
    background-color:#fff;
    padding: 15px 40px;
    border-radius: 10px;
    margin: 2% 30px;
    width: 400px;
    height: max-content;

    button{
        border: 0;
        background-color: #fff;
        margin: 3px 0;
        transition: all 0.3s;
        cursor: pointer;

        &:hover{
            transform: scale(1.01);
            text-decoration: underline;
        }
    }
}